@model Coupon
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Details Coupon</h2>
<div class="border background-white">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-12">
            @{
                var base64 = Convert.ToBase64String(Model.Picture);
                var imgSrc = string.Format("data:image/jpg; base64, {0}", base64);
            }
            <img src="@imgSrc" width="100%" style="border-radius:5px; border: 1px solid #bbb9b9;" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4 offset-md-1 col-md-3 offset-xl-2 col-xl-2">
            <label asp-for="Name" class="col-form-label"></label>
        </div>
        <div class="col-8 col-md-7 col-lg-6 col-xl-5">
            <input asp-for="Name" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4 offset-md-1 col-md-3 offset-xl-2 col-xl-2">
            <label asp-for="Picture" class="col-form-label"></label>
        </div>
        <div class="col-8 col-md-7 col-lg-6 col-xl-5">
            <input type="file" id="couponImage" name="files" multiple disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4 offset-md-1 col-md-3 offset-xl-2 col-xl-2">
            <label asp-for="CouponType" class="col-form-label"></label>
        </div>
        <div class="col-8 col-md-7 col-lg-6 col-xl-5">
            <select asp-for="CouponType" asp-items="Html.GetEnumSelectList<Coupon.ECouponType>()" disabled class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4 offset-md-1 col-md-3 offset-xl-2 col-xl-2">
            <label asp-for="Discount" class="col-form-label"></label>
        </div>
        <div class="col-8 col-md-7 col-lg-6 col-xl-5">
            <input asp-for="Discount" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4 offset-md-1 col-md-3 offset-xl-2 col-xl-2">
            <label asp-for="MinimumAmount" class="col-form-label"></label>
        </div>
        <div class="col-8 col-md-7 col-lg-6 col-xl-5">
            <input asp-for="MinimumAmount" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4 offset-md-1 col-md-3 offset-xl-2 col-xl-2">
            <label asp-for="IsActive" class="col-form-label"></label>
        </div>
        <div class="col-8 col-md-7 col-lg-6 col-xl-5">
            <input asp-for="IsActive" disabled class="form-control" />
        </div>
    </div>
    <div class="offset-4 col-8 col-md-7 col-lg-6 col-xl-5">
        <partial name="_DetailsAndBackToListButtonsPartial" model="Model.Id" />
    </div>
</div>

