@model IEnumerable<MenuItem>

@if (Model.Any())
{
    <div class="col-12 post @Model.FirstOrDefault().Category.Name.Replace(" ", string.Empty) menu-restaurant">
        <div class="row">
            <h3 class="text-success">@Model.FirstOrDefault().Category.Name</h3>
        </div>

        @foreach (var menuItem in Model)
        {
            <partial name="_LandingPageMenuItemsSectionPartial" model="menuItem" />
        }
    </div>
}