@model Spice.Models.ViewModels.LandingPageViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Coupons.Any())
{
    <div class="mb-5">
        <div class="carousel" data-ride="carousel" data-interval="2500">
            @for (int i = 0; i < Model.Coupons.Count(); i++)
            {
                var base64 = Convert.ToBase64String(Model.Coupons.ToList()[i].Picture);
                var imgSrc = string.Format("data:image/jpg; base64, {0}", base64);

                <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                    <img src="@imgSrc" height="50px" class="d-block w-100" style="border-radius:5px; border: 1px solid #bbb9b9;" />
                </div>
            }
        </div>
    </div>
}
<br /><br /><br />
<div class="background-white container">
    <ul id="menu-filters" class="menu-filter-list list-inline text-center">
        <li class="filter active btn btn-secondary ml-1 mr-1" data-filter=".menu-restaurant">Show All</li>
        @foreach (var category in Model.Categories)
        {
            <li class="filter ml-1 mr-1" data-filter=".@category.Name.Replace(" ", string.Empty)">@category.Name</li>
        }
    </ul>
    @foreach (var category in Model.Categories)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_ThumbnailAreaPartial" model="@Model.MenuItems.Where(m => m.Category.Id == category.Id)" />
        </div>
    }
</div>

@section Scripts {
    <script>
        var post = $('.post');

        (function($){
            $('#menu-filters li').click(function () {
                $('#menu-filters li').removeClass('active btn btn-secondary');
                $(this).addClass('active btn btn-secondary');

                var selectedFilter = $(this).data("filter");
                $(".menu-restaurant").fadeOut();

                setTimeout(function () {
                    $(selectedFilter).slideDown();
                }, 300);
            });
        })(jQuery);
    </script>
}